* {
    box-sizing: border-box;
    font-family: sans-serif;

}

h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(140, 0, 168);
    text-shadow: 2px 2px 2px grey;
}

body{
    background: white;
    padding: 0px;
    margin: 0px;

}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*border: 2px solid black;*/
    width: 800px;
    height: 550px;
    margin-inline: auto;
    /*padding: 1rem;*/
}
.form-container{
    /*border: 2px solid red;*/
    border-radius: 1rem;
    box-shadow: 5px 5px 5px grey;
    background: rgb(255, 173, 248);

}

.form-container form{
    display: flex;
    height: 6rem;
    padding: 1rem 2rem 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
form .form-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

label{
    font-size: 0.8rem;
    font-family: sans-serif;
}

input[type="date"]{
    width: 8rem;
    height: 2rem;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn-container{
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 8rem;
    height: 100%;
    padding: 10px 0 0 0;
    margin-right: 1rem;
}

.search-btn{
    width: 5rem;
    flex: 0 0 auto;
    height: 2.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(176, 79, 172);
    box-shadow: 0px 5px 5px grey;
}

.back-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 5rem;
    flex: 0 0 auto;
    height: 2.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(176, 79, 172);
    padding: 0.5rem;
    box-shadow: 0px 5px 5px grey;
}

.table-container{
    /*border: 2px solid yellow;*/
}

table{
    background: blue;
    background:  white;
    width: 100%;

    border-collapse: separate;   /* default is collapse, must change */
    border-spacing: 0 10px;      /* 0 = no space between columns, 10px = gap between rows*/
}

th{
    background: rgb(221, 110, 255);
    box-shadow: 0px 5px 2px grey
}

th, td{
    text-align: left;
    padding: 1rem 0.6rem 1rem 0.6rem;


}
tr td{
    box-shadow: 0px 5px 2px grey;
}

tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 5px 2px grey;
}

tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 5px 2px grey
}

tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

tr{
    margin-bottom: 10px;
    border-radius: 0.5rem;
    background: rgb(245, 204, 255);

}

tr:nth-of-type(even){
    background: rgb(252, 237, 252);
}
